#main_title_bar { display: flex; align-items: center; height: 70px; }
.logo_box { display: flex; align-items: center; margin: 0 26px; }
.logo { height: 60px; }
nav { display: flex; }
nav div { width: 167px; height: 70px; font-size: 18px; line-height: 70px; text-align: center; color: rgba(255, 255, 255, 0.3); cursor: pointer; color: #222222; }
nav div.selected {background: #666666; color: #ffffff;	}
.time_box { flex:1; margin-right: 5px; font-size: 14px; text-align: right; color: #222222; 	}
